@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/


* { outline: none !important; }
.window-resizing *, body:not(.page-loaded) *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'Roboto', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover,a:focus,a:active { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 0px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 15px; }
p { padding: 0 0 0px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }


/* Login Page */


body, html{margin: 0;height:100%;}
.login-container{display:flex; justify-content: end; align-items: start; background-position: center; background-image: url(/images/bg-image.jpg); height: 100%; background-color:#02265A; background-size:cover; background-repeat: no-repeat; padding: 186px 181px 0 0;}
.main{position:relative; background-color: rgba(255, 255, 255, 0.1) ; backdrop-filter:blur(12.5px); border-radius: 20px; width: 440px;  padding: 50px 46px 0 50px; float:right; }
.upper-coin{position: absolute; z-index: 0; right: 46px; top: 110px;}
.downward-coin{position: absolute; z-index: 1; right: 550px; top: 735px;}
.welcome{padding-top: 40px; color: #FFFFFF; font-weight: 700;}
.registration h4{padding-top: 15px; font-weight: 300; color: #FFFFFF;}
/* #usernametext{color: #FFFFFF;} */
.form{background: transparent; color: #FFFFFF; padding-top: 45px;}
/* .form-floating > .form-control{height:0; padding-left: 0; padding-bottom: 0;} */
.form-control{ background-color: transparent;  color: #D2D2D2;  border-radius: 0; border: none; border-bottom: 1px solid #CCCCCC ;}
.form-floating>label{ padding-left: 0; font-weight: 400; font-size: 15px; font-weight: 200; color: #D2D2D2;}
.form-control:focus{background-color: transparent; border: none; box-shadow: none; color: #FFFFFF;}
.button{display: flex; align-items: center; justify-content: space-between; padding-top: 50px;}
.btn{border-radius: 50px; padding:8px 36px; width: 142px; height: 49px; background-color: #10D7FF; border: none;}
.button p a{color: #FFFFFF; text-decoration: none; font-size: 13px; float: right;}
.signup{padding-bottom: 56px; color: #FFFFFF; padding-top: 25px;}
.signup a{text-decoration: none; color:#10D7FF }


/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) { }
@media (max-width:1199px) { }
@media (max-width:991px) {
    .main{ margin: 0; background-color: rgba(0, 0, 0, 0.3) ;}
}
@media screen and (max-width:767px) {
    .login-container{ backdrop-filter:blur(20px); padding: 100px 24px; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.1) ;}
    .main{  margin:0; height: auto; }
    /* .upper-coin{display: none;} */
    .downward-coin{display: none;}

    .companylogo{display: flex; justify-content: center;}
    .welcome{display: flex; justify-content: center;}
    .registration h4{display: flex; justify-content: center;}
    /* .button{display: flex; justify-content: center; } */
    .signup{display: flex; justify-content: center;}
    
 }
@media (max-width:575px) { 
    .login-container{ justify-content: center; align-items: center; padding: 100px 30px; backdrop-filter:blur(20px);}
    .main{width: 100%; height: 100%; float: none; padding: 40px 16px; margin:0; background-color: rgba(0, 0, 0, 0.5) ; }
    .upper-coin{display: none;}
    .downward-coin{display: none;}
    
    /* .companylogo{display: flex; justify-content: center;} */
    .welcome{display: flex; justify-content: center; font-size: 25px;}
    .registration h4{display: flex; justify-content: center; font-size: 18px;} 
    /* .button{display: flex; justify-content: center; } */
    .btn{width: 130px; height: 40px;}
    .signup{display: flex; justify-content: center;}

}