@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/


* { outline: none !important; }
.window-resizing *, body:not(.page-loaded) *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'Roboto', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover,a:focus,a:active { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 0px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 15px; }
p { padding: 0 0 0px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }



/* Login Page
--------------------------------------------------------------------------------------------------------*/


/* body,html {margin: 0;height:100%;background-size:cover;} */
.login-container{display:flex; justify-content: flex-end; align-items: start; background-position: center; background-image: url(../images/bg-image.jpg); min-height: 100vh; background-color:#02265A; background-size:cover; background-repeat: no-repeat; padding: 186px 181px 100px 0;}
.main{position:relative; background-color: rgba(255, 255, 255, 0.1) ; backdrop-filter:blur(12.5px); border-radius: 20px; width: 440px;  padding: 50px 46px 0 50px; float:right; z-index: 1;}
.upper-coin{position: absolute; z-index: 0; right: -140px; top: -70px;}
.downward-coin{position: absolute; z-index: 2; left: -75px; bottom: -95px;}
.welcome{padding-top: 40px; color: #FFFFFF; font-weight: 700;}
.registration h4{padding-top: 15px; font-weight: 300; color: #FFFFFF;}
/* #usernametext{color: #FFFFFF;} */
.form{background: transparent; color: #FFFFFF; padding-top: 45px;}
/* .form-floating > .form-control{height:0; padding-left: 0; padding-bottom: 0;} */
.form-control , .form-select{ background-color: transparent;  color: #D2D2D2;  border-radius: 0; border: none; border-bottom: 1px solid #CCCCCC  ;}
.form-floating>label{ padding-left: 0; font-weight: 400; font-size: 15px; font-weight: 200; color: #D2D2D2;}
.form-control:focus{background-color: transparent;  box-shadow: none; color: #FFFFFF;}
.login{display: flex; align-items: center; justify-content: space-between; padding-top: 50px;}
.btn-login {border-radius: 50px; padding:8px 36px; width: 142px; height: 49px; background-color: #10D7FF; color: #ffffff; border: none;}
.btn-login a{color: #FFFFFF;}
.btn-login:hover{background-color:aqua;}
.login p a{color: #FFFFFF; text-decoration: none; font-size: 13px; float: right;}
.login p a:hover{color: #D2D2D2;}
.signup{padding-bottom: 56px; color: #FFFFFF; padding-top: 25px;}
.signup a{text-decoration: none; color:#10D7FF }
.signup a:hover{color: aqua;}

/* End of Login Page
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Start of Dashbord
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Navbar
--------------------------------------------------------------------------------------------------------*/
body,html{margin: 0;}
.navbar{position: sticky; display: flex; align-items: center; width: 100%; background-color: #02265A; height: 100px;}
.nav-items{ width: 100%; margin-right: 35px;}
.navbar-brand{margin-left: 30px; margin-right: 0; }
.brand{display: none;}
.brand img{width: 40px; height: 40px;}


body.toggle-sidebar {overflow: hidden;}
.sidebar-open .sidebar {flex-shrink: 1;margin-left: -260px;}
.sidebar-open .overlay { visibility: visible;opacity: 1;}
.sidebar-open .sidebar {margin-left: 0;display: block;}


.toggle{background:none; border: none; box-shadow: none; margin-left: 75px;}
.form-search{position:relative; margin-left: 60px;}
#search::-webkit-input-placeholder {color: #ffffff;}
#search{background-image: url(../images/search.svg); background-repeat: no-repeat; border: none; background-position-y: center; padding-left: 25px; }

.search-btn{background-color: transparent; border: none;}
#search:focus{border:1px solid #ADADAD}
.btn-buy{  width: 160px; height: 44px; font-weight: 400; font-size: 18px; color: #FFFFFF; margin-left: auto; border-radius: 50px; background-color: #10D7FF;}
.btn-buy:focus, .btn-buy:hover{box-shadow: none;background-color: aqua; }
.btn-dropdown{display: flex; background-color: transparent; padding: 10px 0 10px 10px;  align-items: center;  color: #FFFFFF; border: none; border-radius: 0; padding: 0; width: auto; height: auto; }
.btn-dropdown:focus, .btn-dropdown:hover, .toggle:hover , .toggle:focus, .bell:hover, .bell:focus{ border: none; border-radius: 5px;  box-shadow: none; background-color:rgba(11, 69, 136, 0.753); color: #FFFFFF;}
.dropdown{margin-left: 32px;}
.dropdown-toggle::after {display: none;}
.btn-dropdown img, .btn-dropdown p{margin-right: 15px ;}
/* 
.btn-close-search:focus, .btn-search:focus{box-shadow: none;}
.btn-search, .header .btn-close-search{display: none;}
.navbar .btn-search{margin-right: 25px;padding: 10px;margin-left: auto;}
.navbar .btn-search img{display: block;height: 20px;width: 20px;} */


/* dash-container
--------------------------------------------------------------------------------------------------------*/
.dash-container{ display: flex; padding-right: 30px; padding-left: 30px; background-color:#02265A;}
.container1{ width: 260px; height: 100%;}
.sidebar{width: 260px; flex-grow: 0; flex-shrink: 0;flex-basis: 260px;z-index: 0;overflow-y: auto;top: 100px; left: 0; bottom: 0;  margin-left: 0px;visibility: visible;}
.nav-link{display: flex; align-items: center; text-decoration: none; font-weight: 500; font-size: 16px; padding:0;color: #FFFFFF;margin: 5px 10px ; }
.nav-item span{margin-right: 15px; align-items: center; }
.nav-link:hover, .nav-link:active, .nav-link span :active , .nav-item a:active, .nav-item a:focus,  .nav-link:focus{background: rgba(255, 255, 255, 0.1); border-radius: 50px; color: #10D7FF;}
.active span {border-radius: 50%; background-color: #10D7FF;width: 42px; height: 42px; padding:10px; }
.nav-item .icon-img{border-radius: 50%; width: 42px; height: 42px; padding:10px;}
.active {background: rgba(255, 255, 255, 0.1);border-radius: 20px;}

.sidebar-open .rightcontent {flex-basis: calc(100%);max-width: calc(100%);flex-grow: 1;}

/* .container2{ justify-content: center; width:100%;  padding-top: 35px; margin-bottom: 40px; background: #F3F8FF;border-radius: 20px;} */
.rightcontent h2{font-weight: 500px; }
.rightcontent{flex-grow: 0; flex-shrink: 0;flex-basis: calc(100% - 260px);width:100%;  padding:40px 40px;background-color: 
    #F3F8FF;transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);border-radius: 20px;margin-bottom: 40px;}

.dashboard-stats{ background-color: #FFFFFF; color: #000000; border-radius: 20px ; padding: 28px; box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08); height: 100%;}
.stat-name{ font-size: 18px; line-height: 24px; font-weight: 400; margin-bottom: 24px;}
.numbers{font-size: 24px; line-height: 24px; font-weight: 500; }
.stat-last-row{ margin-top: 32.5px;}
/* .dash-row{max-width: 100%;} */
.interval{font-size: 13px; font-weight: 300; padding-left: 20px;}

.graph-content{  flex-wrap: wrap; }
.data-graph{padding: 30px 28px 0 25px;   background: #FFFFFF;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);border-radius: 20px;}
.data{justify-content: space-between; align-items: center;}
.overview-links{ font-size: 12px; font-weight: 400;}
.overview-links a{padding-right: 30px;}
.year{color:#10D7FF;text-decoration: underline;}
.graph img{padding:50px 8px 30px 5px; max-width: 100%; }

.watchlist{padding:26px 30px 40px;  background: #02265A;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.04);border-radius: 20px;}
.watchlist1>h5{color: #FFFFFF;}
.watchlist1, .watchlist2 ,.watchlist3,.watchlist4,.watchlist5{justify-content: space-between;}
.watchlist2 ,.watchlist3,.watchlist4 >h6 ,.watchlist5 h6 {color: #FFFFFF;}
.watchlist2 ,.watchlist3,.watchlist4,.watchlist5>div p{font-size: 13px; font-weight: 300; color: #FFFFFF;opacity: 0.7;}
.number{padding-top: 25px;}
.number hr{opacity: 0.2;border: 1px solid #FFFFFF;}
.danger{color: #FF4141;font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;}
.success{color: #00D488;font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;}

.transaction {box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08); padding: 30px 30px 50px 25px; margin-bottom: 40px; border-radius: 20px; background-color: #FFFFFF;}
.watchlist1 a, .transaction1 a{font-style: normal;font-weight: 400;font-size: 12px; color: #10D7FF;}
.transaction1 {justify-content: space-between;}



/* End of dashboard
--------------------------------------------------------------------------------------------------------*/

/* Start of Analytics Page
--------------------------------------------------------------------------------------------------------*/

.content-analysis{margin-top: 40px; padding: 20px 30px 30px;  background-color: #FFFFFF; box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08); border-radius: 20px;}

.column2, .column4, .column5{padding-top: 60px;}
.column3{padding-top: 75px;}
input[type=text] {outline: none !important;box-shadow: none !important;} 

.form-select, select{border-bottom: 1px solid #000; box-shadow: none; outline: none;}

#dashed, #dashed:active{border-bottom: dashed;}

.column5{padding-top: 65px;}
.column5 h5{padding-top: 20px;}
.primary{padding: 13px 40px; background-color: #10D7FF; color: #FFFFFF!important;}
.secondary{padding: 12px 35px; background-color: transparent;}
.pri-sec .secondary:hover{background-color: #CCCCCC; border-width: thin; color: #10D7FF;}
.pri-sec .primary:hover{background-color: #08516e; color: #10D7FF;}
.primary a:hover, .secondary a:hover{color: #10D7FF; }
.tabbing{padding-top: 26px; padding-left: 30px; padding-bottom: 11px;  border-radius: 20px;}
.upload{padding: 10px 25px;}
.uploadbutton button:hover{border:#10D7FF;}
.nav{padding-top: 20px;}
.tab-link{background: transparent; border: none; padding: 15px 20px; line-height: 20px; }
.tab-link:hover, .tab-link:focus{border-bottom: 1px solid #10D7FF; color: #10D7FF;}
.tab-content{padding-top: 28px;}





/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) { }
@media (max-width:1199px) {
 }
@media (max-width:991px) {
    .main{ margin: 0; background-color: rgba(0, 0, 0, 0.3) ;}
    /* .dash-container{width: 0;} */
    .btn-dropdown p, .btn-dropdown #arrow{display: none;}
    .box-content{flex-wrap: wrap;}
    .watchlist{justify-content: center;}

    .btn-buy{min-width:120px; font-size: 15px;}
    /* .navbar{z-index: 4;} */
    .dash-container{padding-left: 30px;}

    .sidebar{position: fixed;margin-left:-260px; z-index: 3;background-color: #02265A;} 
    .overlay{position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 2;visibility: hidden; background: rgba(0,0,0,0.4);display: block;opacity: 0;right: 0;}
    .sidebar-open .overlay{visibility: visible;opacity: 0.8;} 
    .sidebar-open .sidebar{margin-left: 0;}
    body.sidebar-open{overflow: hidden;}
    .content-analysis{padding: 20px 15px ;}
    .row{padding: 0 10px;}
    .rightcontent{ max-width: 100%;flex-basis: 100%;flex-grow: 0;}

    /* .form-search{margin-left: 40px;}
    .form-search .form-control{width: 230px;} */
}
@media screen and (max-width:767px) {
    .login-container{ backdrop-filter:blur(20px); padding: 100px 24px; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.3) ;}
    .main{  margin:0; height: 100%; }
    .upper-coin{right: 220px; top: 200px;}
    .downward-coin{z-index: 0; left: 260px; top: 550px;}
    .companylogo{display: flex; justify-content: center;}
    .welcome{display: flex; justify-content: center;}
    .registration h4{display: flex; justify-content: center;}
    .signup{display: flex; justify-content: center;}

    /* .btn-searsch{display: block;}
    .search-open .navbar .form-search{position: fixed;top: 0px;left: 0px;right: 0;padding:16px 50px;z-index: 2;background-color: #ffffff;transition: all 0.2s ease;margin-left: 0px;}
    .search-open .navbar .form-control{width: 100%;display: block;border: 1px solid #ADADAD;}
    .search-open .navbar .btn-close-search{position: absolute;top: 28px;right: 60px;display: block;transition: all 0.2s ease;}
    .btn-close-search img{width: 15px; height: 15px;display: block;} */
 
    .navbar{padding: 10px ; height: 60%; }
    .sidebar{top: 70px;}


    .sidebar-open .overlay{visibility: visible;opacity: 0.5;} 
    
    .toggle{margin-left: auto;}
    .form-search{margin-left: auto;}
    /* .navbar-brand, .nav-items{margin-left: auto; margin-right: auto;} */

    .rightcontent{padding-left: 15px; padding-right: 15px;}
  
   
    
 }
@media screen and (max-width:575px) { 
    body{backdrop-filter:blur(20px);}
    .login-container{ justify-content: center; align-items: center; padding: 100px 30px;}
    .main{width: 100%; height: 100%; float: none; padding: 60px 30px; margin:0; background-color: rgba(0, 0, 0, 0.5) ; }
    .upper-coin{display: none;}
    .downward-coin{display: none;}
    .btn-login{width: 130px; height: 40px;}
    .signup{display: flex; justify-content: center;}
    
    /* .search-open .navbar .form-control{padding: 16px;}
    .search-open .navbar .btn-close-search{right: 30px;} */

    .navbar-brand, .nav-items{margin-left: auto; margin-right: auto;}
    .brand{ margin-left: 0; margin-right: 0; }

    .rightcontent h2{display: flex; justify-content: center;}
    

    /* .btn-buy{font-size: 13px; font-weight: 400; min-width: 80px;} */
    .dropdown{margin-left: auto;}
    .btn-dropdown img, .btn-dropdown p{margin-right: auto;}
    /* .overview-links a{padding-right: 5px; flex-direction: column;} */
    
    .dash-container{padding-left: 15px; padding-right: 15px;}
    

}
@media screen and (max-width:425px){
    .login-container{background-blend-mode:saturation; }
    .main{padding-top: 80px;}
    .welcome{display: flex; justify-content: center; font-size: 25px;}
    .registration h4{display: flex; justify-content: center; font-size: 18px;} 

}

